pipeline/Pipeline 3.json
{
	"name": "Pipeline 3",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_month1')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[silver].[usp_silver_trip_data_green]",
								"storedProcedureParameters": {
									"month": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@pipeline().parameters.P3_year",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseAnalytics1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_month1",
					"value": {
						"value": "@pipeline().parameters.p3_month",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p3_month": {
				"type": "array"
			},
			"P3_year": {
				"type": "array"
			}
		},
		"variables": {
			"v_month": {
				"type": "String"
			},
			"v_month1": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}