pipeline/Pipeline 2.json
{
	"name": "Pipeline 2",
	"properties": {
		"activities": [
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_silver_taxI_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_folder_path": {
								"value": "@pipeline().parameters.p_folder_path",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_year",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_year",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pipeline 3",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p3_month": {
										"value": "@pipeline().parameters.p_month",
										"type": "Expression"
									},
									"P3_year": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_folder_path": {
				"type": "string",
				"defaultValue": "silver/trip_data_green"
			},
			"p_year": {
				"type": "array",
				"defaultValue": "['2020','2021']"
			},
			"p_month": {
				"type": "array",
				"defaultValue": "['01','02','03','0'4,'05','06','07','08','09','10','11','12']"
			}
		},
		"variables": {
			"v_month1": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}